.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: ivory;
  background-color: #007bff;
}

.buttonbox {
  padding: 10px;
  display: flex;
  justify-content: right;
}

.button {
  padding: 10px;

  font-size: 15px;
  font-weight: 500;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.button:hover {
  background-color: #0056b3;
}

.mainstyle {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  gap: 5px;

  margin: 30px;

  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #333;
}

.mainbox {
  width: 700px;
  display: flex;
  justify-content: left;
  border-top: #333 1px solid;
  border-bottom: #333 1px solid;
  padding: 20px;
}

.left {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: bold;
  padding-right: 30px;
  border-right: rgb(171, 211, 255) 1px solid;
}

.right {
  width: 450px;
  font-size: 20px;
  line-height: 20px;
  padding-left: 30px;
}

footer {
  justify-content: left;
  align-items: center;

  padding: 20px;
  font-weight: 300px;
  font-size: 15px;
}
